<%=  form_with url: login_path,local: true do |form| %>
  <% if flash[:alert] %>
    <%=content_tag :p, flash[:alert], class: 'alert alert-danger' %>
  <% end %>
<div class="p-3">
<p>
  <%= form.label :email %><br>
  <%= form.text_field :email, id: :email %>
</p>

  <p>
    <%= form.label :password %><br>
    <%= form.password_field :password, id: :password %>
  </p>

  <p>
    <%= form.submit 'Enter' %>
  </p>
</div>
<% end %>
