<%=  form_with url: sessions_path,local: true do |form| %>
  <% if flash[:alert] %>
    <%=content_tag :p, flash[:alert], class: 'alert alert-danger' %>
  <% end %>

<p class="m-lg-2">
  <%= form.label :email %><br>
  <%= form.text_field :email, id: :email %>
</p>

  <p class="m-lg-2">
    <%= form.label :password %><br>
    <%= form.text_field :password, id: :password %>
  </p>

  <p class="m-lg-2">
    <%= form.submit 'Enter' %>
  </p>
<% end %>
