<div class="navbar navbar-expand-lg navbar-light bg-light">
  <span class="navbar-brand"><%= t('admin.tests.nav.header') %></span>

  <nav class="nav-admin user" >
    <ul style="list-style-type: none" class="d-flex flex-wrap align-items-center justify-content-center
      justify-content-lg-start ">
      <li class="nav-item">
        <%= t('shared.header.nav_user', user: current_user.first_name)  %>
      </li>

      <li class="nav-item">
        <%= link_to t('nav_link.tests'), admin_tests_path, class: 'nav-link px-2 text-black-50'%>
      </li>
      <li class="nav-item">
        <%= link_to t('nav_link.gists'), admin_gists_path, class: 'nav-link px-2 text-black-50'%>
      </li>
      <li class="nav-item">
        <%= link_to t('nav_link.badges'), admin_badges_path, class: 'nav-link px-2 text-black-50'%>
      </li>

      <li class="nav-item">
       <%= link_to t('shared.header.user_panel'), tests_path, class: 'nav-link px-2 text-black-50'%>
      </li>
      <li class="nav-item">
       <%= link_to t('shared.header.logout'), destroy_user_session_path, method: :delete , class: 'nav-link px-2'%>
      </li>
    </ul>
  </nav>
</div>
