
<header class="navbar navbar-fixed-top navbar-inverse p-3 bg-dark text-white">
<div class="container">
  <div class="float-left">
    <nav>
      <ul style="list-style-type: none" class="d-flex flex-wrap align-items-center justify-content-center
      justify-content-lg-start ">
        <li><%= link_to t('.root'), root_path, class: 'nav-link px-2 text-white'%></li>
        <li><%= link_to t('.tests'), tests_path, class: 'nav-link px-2 text-white'%></li>
        <li><%= link_to t('.achievements'), achievements_path, class: 'nav-link px-2 text-white'%></li>
        <li><%= link_to t('.badges'), badges_path, class: 'nav-link px-2 text-white'%></li>
        <%  if current_user.is_a?(Admin) %>
          <li><%= link_to t('.admin_panel'), admin_tests_path, class: 'nav-link px-2 text-white'%></li>
        <% end %>
      </ul>
    </nav>
  </div>

  <div class="float-right">
    <nav>
      <ul style="list-style-type: none" class="d-flex flex-wrap align-items-center justify-content-center
      justify-content-lg-start ">
        <li><%= link_to t('.feedback'), new_feedback_path, class: 'nav-link px-2 text-white'%></li>
        <% if user_signed_in? %>
          <p class="nav user-select-all "> <%= t('.nav_user', user: current_user.first_name) %>  &nbsp; <%= link_to_root %></b></p>
          <li><%= link_to t('.logout'), destroy_user_session_path, method: :delete, class: 'nav-link px-2 text-white'%></li>
        <% else %>
          <li><%= link_to t('.login'), user_session_path, class: 'nav-link px-2 text-white' %></li>
          <li><%= link_to t('.signup'), new_user_registration_path, class: 'nav-link px-2 text-white'%></li>
        <% end %>
      </ul>
    </nav>

  </div>
</div>
</header>



