
<%= form_with model: [:admin, @test, @question],  local: true do |f| %>
  <div>
    <%= render 'shared/errors', object: @question %>
  </div>
  <div class="mb-3 row m-lg-2">
    <%= f.label :body, class: 'col-sm-1 col-form-label' %>
    <%= f.text_field :body, placeholder: 'Body',
                    class: 'col-sm-5 col-form-label form-control' %>
  </div>
  <div class="m-lg-2">
    <%= f.submit "Submit question!", class: 'btn btn-success mb-3 '%>
  </div>

<% end %>
