<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Testguru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="p-3 bg-dark text-white">
      <div class="container">
        <nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <li style="list-style-type: none"><%= link_to 'Home', root_path, class: 'nav-link px-2 text-white' %></li>
          <li style="list-style-type: none"><%= link_to 'Tests', tests_path, class: 'nav-link px-2 text-white' %></li>
        </nav>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
